
.slider{
    position:absolute;
    border:2px solid red;
    background-color:rgb(32 154 203/26%);
    height:100%;
    width:58px;
    top:0px;
    cursor:move;
    display:flex;
    text-align:center;
    align-items:center
}

.slider .handle{
    position:absolute;
    height:38px;
    width:9px;
    border:1px solid #AAB;
    background:#9AC;
    box-sizing:border-box
}

.slider .EE{
    right:-4px;
    cursor:e-resize;

}
.slider .WW{
    cursor:w-resize;
    left:-4px
}